{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>여기는 홈입니다.</h1>
    <a href = "/accounts/signup">회원가입</a>
    {% if user.is_authenticated %}
    <a href = "/accounts/logout">로그아웃</a>
    {% csrf_token %}
    <h1>로그인을 해야만 볼 수 있는 문구</h1>
    {% else %}
    <a href = "{% provider_login_url 'google' %}">구글 로그인</a>
    {% endif %}
</body>
</html>