<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "POST" action = "{% url 'signup' %}">
        {% csrf_token %}
        <h1>회원가입 하기</h1>
        <div>
            <div>
                <h2>ID_이름 : <input name = "username" type = "text" required></h2>

                <h2>PW_비밀번호 : <input name = "password1" type = "password" required></h2>

                <h2>PW_비밀번호 확인 : <input name = "password2" type = "password" required></h2>
            </div>
            <br>
            <button type = "submit" 가입하기></button>
        </div>
    </form>
</body>
</html>