{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>rank of tenet</title>
    <link rel="shortcut icon" href="#" />
    <!-- 3번 파일 할 때 주석 해제 -->
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>T E N E T</h1>
      </div>
      <!-- 2번 파일 할 때 주석 해제 -->
      <div class="todayDate">
        <form
          name="todayDateForm"
          class="todayDateForm"
          action="http://127.0.0.1:8000/"
        >
          <input type="date" name="todayDateInput1" class="todayDateInput1" /> ~
          <input type="date" name="todayDateInput2" class="todayDateInput2" />
          <input type="button" onclick="clickedSearchBtn();" value="찾기" />
        </form>
      </div>
      <div id="contents">hi</div>
    </div>
    <script src="static/js/home.js" type="text/javascript"></script>
  </body>
</html>
