<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "{% url 'result' %}" method = "GET">
        <input class="input_box" type = "text" name = "query" value = "{{query}}" placeholder="검색해보자">
    </form>
    {% for i in blog_list %}
        <a href="{% url 'detail' i.id %}">
            <h1>글 제목: {{i.title}}</h1>
            <p>내용: {{i.text}}</p>
            <p>글쓴이: {{i.author}}</p>
            <p>작성 시간: {{i.time}}</p>
        </a>
        <br>
    {% endfor %}
</body>
</html>
