<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="static/style.css">
    <title>gallery Add</title>
    <style>
        body{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="boxA">
        <form action="{% url 'create' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
                <p>사진을 넣어주세요!</p>
                {{form.pic}}
                <p>사진 이름: </p>
                <input type = "text" name = "pictext">
                <p>설명: </p>
                <input type = "text" name = "explain">
                <input type = "submit" value="추가하기">
            
        </form>
    </div>
</body>
</html>