<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="main.css" />
    <title>Document</title>
</head>
<body>
    <div class="box">
        <h1>Food BarcodeFood BarcodeFood BarcodeFood BarcodeFood BarcodeFood BarcodeFood BarcodeFood BarcodeFood BarcodeFood BarcodeFood BarcodeFood BarcodeFood Barcode</h1>
        <h1>Food Barcode</h1>
        <h1>Food Barcode</h1>
        <h1>Food Barcode</h1>
        <h1>Food Barcode</h1>
    </div>
    
</body>
</html>